@model IEnumerable<CodeninModel.Quiz.TopicQuiz>

@{
    ViewBag.Title = "Courses";
    ViewBag.Courses = "class = active";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";



}

<div class="container-fluid" style="margin-left: 13%">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Module.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionHint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFillInTheGag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMultiChoiceAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSingleChoiceAnswer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Module.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionHint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFillInTheGag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMultiChoiceAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSingleChoiceAnswer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TopicQuizId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TopicQuizId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TopicQuizId })
            </td>
        </tr>
    }

</table>
</div>




        <!-- extra div for emulating position:fixed of the menu -->
   

        <!-- /st-content-inner -->
