

<!DOCTYPE html>
<html class="transition-navbar-scroll top-navbar-xlarge bottom-footer" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CODE DENIM</title>
    <!-- Compressed Vendor BUNDLE
    Includes vendor (3rd party) styling such as the customized Bootstrap and other 3rd party libraries used for the current theme/module -->
    <link href="~/Content/LMS/css/vendor.min.css" rel="stylesheet">
    <!-- Compressed Theme BUNDLE
    Note: The bundle includes all the custom styling required for the current theme, however
    it was tweaked for the current theme/module and does NOT include ALL of the standalone modules;
    The bundle was generated using modern frontend development tools that are provided with the package
    To learn more about the development process, please refer to the documentation. -->
    <!-- <link href="LMS/css/theme.bundle.min.css" rel="stylesheet"> -->
    <!-- Compressed Theme CORE
    This variant is to be used when loading the separate styling modules -->
    <link href="~/Content/LMS/css/theme-core.min.css" rel="stylesheet">
    <!-- Standalone Modules
    As a convenience, we provide the entire UI framework broke down in separate modules
    Some of the standalone modules may have not been used with the current theme/module
    but ALL modules are 100% compatible -->
    <link href="~/Content/LMS/css/module-essentials.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-material.min.css" rel="stylesheet" />
    <link href="~/Content/module-layout.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-sidebar.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-sidebar-skins.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-navbar.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-messages.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-carousel-slick.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-charts.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-maps.min.css" rel="stylesheet" />
    <link href="~/Content/module-colors-alerts.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-colors-background.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-colors-buttons.min.css" rel="stylesheet" />
    <link href="~/Content/LMS/css/module-colors-text.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- If you don't need support for Internet Explorer <= 8 you can safely remove these -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



    <div class="navbar navbar-size-large navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#sidebar-menu" data-toggle="sidebar-menu" class="toggle pull-left visible-xs"><i class="fa fa-ellipsis-v"></i></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand navbar-brand-primary navbar-brand-logo navbar-nav-padding-left">

                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav">

                <ul class="nav navbar-nav navbar-nav-bordered navbar-right">
                    <!-- notifications -->
                    <li class="dropdown notifications updates">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge badge-primary">4</span>
                        </a>
                        <ul class="dropdown-menu" role="notification">
                            <li class="dropdown-header">Notifications</li>
                            <li class="media">
                                <div class="pull-right">
                                    <span class="label label-success">New</span>
                                </div>
                                <div class="media-left">
                                    <img src="images/people/50/guy-2.jpg" alt="people" class="img-circle" width="30">
                                </div>
                                <div class="media-body">
                                    <a href="#">Adrian D.</a> posted <a href="#">a photo</a> on his timeline.
                                    <br />
                                    <span class="text-caption text-muted">5 mins ago</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="pull-right">
                                    <span class="label label-success">New</span>
                                </div>
                                <div class="media-left">
                                    <img src="images/people/50/guy-6.jpg" alt="people" class="img-circle" width="30">
                                </div>
                                <div class="media-body">
                                    <a href="#">Bill</a> posted <a href="#">a comment</a> on Adrian's recent <a href="#">post</a>.
                                    <br />
                                    <span class="text-caption text-muted">3 hrs ago</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <span class="icon-block s30 bg-grey-200"><i class="fa fa-plus"></i></span>
                                </div>
                                <div class="media-body">
                                    <a href="#">Mary D.</a> and <a href="#">Michelle</a> are now friends.
                                    <p>
                                        <span class="text-caption text-muted">1 day ago</span>
                                    </p>
                                    <a href="">
                                        <img class="width-30 img-circle" src="images/people/50/woman-6.jpg" alt="people">
                                    </a>
                                    <a href="">
                                        <img class="width-30 img-circle" src="images/people/50/woman-3.jpg" alt="people">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- // END notifications -->
                    <!-- User -->
                    <li class="dropdown">

                        <img src="@Url.Content("~/Profile_Pics/" + ViewBag.AdminProfile)" alt="Bill" class="img-circle" width="40" />

                        @using Microsoft.AspNet.Identity
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul>
                                    <li>
                                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    </li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul>
                                <li>@Html.ActionLink("Register Tutor", "Create", "Tutors", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            </ul>
                        }

                        <span class="caret"></span>

                        <ul class="dropdown-menu" role="menu">
                            @*<li><a href="app-student-profile.html">Account</a></li>*@
                            <li><a href="@Url.Action("Index", "Manage")">My Profile</a></li>

                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {

                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "padding:4px;" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <li>
                                        <a href="javascript:document.getElementById('logoutForm').submit()">

                                            <p style="padding-left: 10px; color: #000">Logout</p>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </div>




    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    //The View that only an admin can view and access

    {

    <!-- Fixed navbar -->
        <div class="navbar navbar-size-large navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#sidebar-menu" data-toggle="sidebar-menu" class="toggle pull-left visible-xs"><i class="fa fa-ellipsis-v"></i></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand navbar-brand-primary navbar-brand-logo navbar-nav-padding-left">

                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-nav">

                    <ul class="nav navbar-nav navbar-nav-bordered navbar-right">
                        <!-- notifications -->
                        <li class="dropdown notifications updates">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="badge badge-primary">4</span>
                            </a>
                            <ul class="dropdown-menu" role="notification">
                                <li class="dropdown-header">Notifications</li>
                                <li class="media">
                                    <div class="pull-right">
                                        <span class="label label-success">New</span>
                                    </div>
                                    <div class="media-left">
                                        <img src="images/people/50/guy-2.jpg" alt="people" class="img-circle" width="30">
                                    </div>
                                    <div class="media-body">
                                        <a href="#">Adrian D.</a> posted <a href="#">a photo</a> on his timeline.
                                        <br />
                                        <span class="text-caption text-muted">5 mins ago</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-right">
                                        <span class="label label-success">New</span>
                                    </div>
                                    <div class="media-left">
                                        <img src="images/people/50/guy-6.jpg" alt="people" class="img-circle" width="30">
                                    </div>
                                    <div class="media-body">
                                        <a href="#">Bill</a> posted <a href="#">a comment</a> on Adrian's recent <a href="#">post</a>.
                                        <br />
                                        <span class="text-caption text-muted">3 hrs ago</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <span class="icon-block s30 bg-grey-200"><i class="fa fa-plus"></i></span>
                                    </div>
                                    <div class="media-body">
                                        <a href="#">Mary D.</a> and <a href="#">Michelle</a> are now friends.
                                        <p>
                                            <span class="text-caption text-muted">1 day ago</span>
                                        </p>
                                        <a href="">
                                            <img class="width-30 img-circle" src="images/people/50/woman-6.jpg" alt="people">
                                        </a>
                                        <a href="">
                                            <img class="width-30 img-circle" src="images/people/50/woman-3.jpg" alt="people">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- // END notifications -->
                        <!-- User -->
                        <li class="dropdown">

                            <img src="@Url.Content("~/Profile_Pics/" + ViewBag.AdminProfile)" alt="Bill" class="img-circle" width="40" />

                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <ul>
                                        <li>
                                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                        </li>
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <ul>
                                    <li>@Html.ActionLink("Register Tutor", "Create", "Tutors", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            }

                            <span class="caret"></span>

                            <ul class="dropdown-menu" role="menu">
                                @*<li><a href="app-student-profile.html">Account</a></li>*@
                                <li><a href="@Url.Action("Index", "Manage")">My Profile</a></li>

                                @using Microsoft.AspNet.Identity
                                @if (Request.IsAuthenticated)
                                {

                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "padding:4px;" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <li>
                                            <a href="javascript:document.getElementById('logoutForm').submit()">

                                                <p style="padding-left: 10px; color: #000">Logout</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>




    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
        <div class="sidebar left sidebar-size-1 sidebar-mini-reveal sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
            <div data-scrollable>
                <ul class="sidebar-menu">
                    <li class="active"><a href="@Url.Action("AdminDashboard", "Home")"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                    <li class="active"><a href="@Url.Action("Create", "Tutors")"><i class="fa fa-home"></i><span>Create Tutor</span></a></li>
                    <li class="active"><a href="@Url.Action("Create", "TutorCourses")"><i class="fa fa-home"></i><span>Assign Tutor A Subject</span></a></li>
                    <li class="active"><a href="@Url.Action("Create", "Forum")"><i class="fa fa-home"></i><span>Create Forum</span></a></li>
                    <hr />
                    @*<li><a href="app-instructor-messages.html"><i class="fa fa-paper-plane"></i><span>Messages</span></a></li>*@
                    <li><a href="@Url.Action("Create", "CourseCategories")"><i class="fa fa-mortar-board"></i><span>Create Courses Category</span></a></li>
                    <li><a href="@Url.Action("Create", "AssignCourseCategories")"><i class="fa fa-mortar-board"></i><span>Assign Courses Category</span></a></li>

                    <li><a href="@Url.Action("Create", "Courses")"><i class="fa fa-bar-chart-o"></i><span>Create Courses</span></a></li>
                    <li><a href="@Url.Action("Create", "Modules")"><i class="fa fa-dollar"></i><span>Create Modules</span></a></li>
                    <li><a href="@Url.Action("Create", "Topics")"><i class="fa fa-dollar"></i><span>Create Topics</span></a></li>
                    <li><a href="@Url.Action("Create", "TopicMaterialUploads")"><i class="fa fa-dollar"></i><span>Create Topics Materials</span></a></li>


                    <hr />

                    <li><a href="@Url.Action("Create", "QuizRules")"><i class="fa fa-dollar"></i><span>Quiz Rules</span></a></li>
                    <li><a href="@Url.Action("Create", "TopicQuizs")"><i class="fa fa-dollar"></i><span>Set Quiz</span></a></li>

                    <hr />
                    <li><a href="@Url.Action("Create", "PaymentTypes")"><i class="fa fa-dollar"></i><span>Set Payements Amount</span></a></li>
                    <hr />
                </ul>
                <li><a href="app-student-dashboard.html"><i class="fa fa-bar-chart-o"></i><span>Dashboard</span></a></li>


            </div>
        </div>
    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->


    }
    //The View only the Tutor can see and access
    else if (Request.IsAuthenticated && User.IsInRole("Tutor"))
    {


    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
        <div class="sidebar left sidebar-size-1 sidebar-mini-reveal sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
            <div data-scrollable>
                <ul class="sidebar-menu">
                    <li class="active"><a href="@Url.Action("TutorDashboard", "Tutors")"><i class="fa fa-home"></i><span>Dashboard</span></a></li>

                    <li class="active"><a href="@Url.Action("Create", "ForumQuestions")"><i class="fa fa-home"></i><span>Ask Question</span></a></li>
                    @*<li><a href="app-instructor-messages.html"><i class="fa fa-paper-plane"></i><span>Messages</span></a></li>
                        <li><a href="app-instructor-courses.html"><i class="fa fa-mortar-board"></i><span>My Courses</span></a></li>
                        <li><a href="app-instructor-earnings.html"><i class="fa fa-bar-chart-o"></i><span>Earnings</span></a></li>
                        <li><a href="app-instructor-statement.html"><i class="fa fa-dollar"></i><span>Statement</span></a></li>*@
                </ul>


            </div>
        </div>
    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->







    }
    else if (Request.IsAuthenticated && User.IsInRole("Corper"))
    {

    <!-- Fixed navbar -->



    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
        <div class="sidebar left sidebar-size-1 sidebar-mini-reveal sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
            <div data-scrollable>
                <ul class="sidebar-menu">
                    <li class="active"><a href="@Url.Action("Dashboard", "Students")"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                    <li class="active"><a href="@Url.Action("Edit", "Students")"><i class="fa fa-home"></i><span>Edit Profile</span></a></li>

                    <li class="active"><a href="@Url.Action("Create", "ForumQuestions")"><i class="fa fa-home"></i><span>Ask Question</span></a></li>
                    @*<li class="active"><a href="@Url.Action("Asked", "ForumQuestions")"><i class="fa fa-home"></i><span>Questions  I Ask</span></a></li>*@
                    <li class="active"><a href="@Url.Action("_ListCoursesPartial", "Courses")"><i class="fa fa-home"></i><span>My Courses</span></a></li>


                    @*<li><a href="app-instructor-messages.html"><i class="fa fa-paper-plane"></i><span>Messages</span></a></li>
                        <li><a href="app-instructor-courses.html"><i class="fa fa-mortar-board"></i><span>My Courses</span></a></li>
                        <li><a href="app-instructor-earnings.html"><i class="fa fa-bar-chart-o"></i><span>Earnings</span></a></li>
                        <li><a href="app-instructor-statement.html"><i class="fa fa-dollar"></i><span>Statement</span></a></li>*@
                </ul>


            </div>
        </div>
    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->





    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
        @*<div class="sidebar left sidebar-size-3 sidebar-offseSSt-0 sar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
            <div data-scrollable>ideb
                <div class="sidebar-block">
                    <div class="profile">
                        <a href="#">
                            <img src="images/people/110/guy-6.jpg" alt="people" class="img-circle width-80"/>
                        </a>
                        <h4 class="text-display-1 margin-none">Instructor Name</h4>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="active"><a href="@Url.Action("CorperDashboard", "Students")"><i class="fa fa-home"></i><span>Dashboard</span></a></li>

                    <li class="active"><a href="@Url.Action("Create", "ForumQuestions")"><i class="fa fa-home"></i><span>Ask Question</span></a></li>S*@
        @*<li><a href="app-instructor-messages.html"><i class="fa fa-paper-plane"></i><span>Messages</span></a></li>
            <li><a href="app-instructor-courses.html"><i class="fa fa-mortar-board"></i><span>My Courses</span></a></li>
            <li><a href="app-instructor-earnings.html"><i class="fa fa-bar-chart-o"></i><span>Earnings</span></a></li>
            @*<li><a href="app-instructor-statement.html"><i class="fa fa-dollar"></i><span>Statement</span></a></li>*@
        @*<li><a href="@Url.Action("Logoff", "Account")"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- sidebar effects OUTSIDE of st-pusher: -->
            <!-- st-effect-1, st-effect-2, st-effect-4, st-effect-5, st-effect-9, st-effect-10, st-effect-11, st-effect-12, st-effect-13 -->*@

    }



    @if (Request.IsAuthenticated && User.IsInRole("Student"))
    {



        <div class="sidebar left sidebar-size-1 sidebar-mini-reveal sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
            <div data-scrollable>
                <ul class="sidebar-menu">
                    <li class="active"><a href="@Url.Action("Dashboard", "Students")"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                    <li class="active"><a href="@Url.Action("Edit", "Students")"><i class="fa fa-home"></i><span>Edit Profile</span></a></li>
                    <li><a href="@Url.Action("ListCourses","Courses")">Courses List</a></li>


                    <li class="active"><a href="@Url.Action("Create", "ForumQuestions")"><i class="fa fa-home"></i><span>Ask Question</span></a></li>
                    @*<li><a href="app-instructor-messages.html"><i class="fa fa-paper-plane"></i><span>Messages</span></a></li>
                        <li><a href="app-instructor-courses.html"><i class="fa fa-mortar-board"></i><span>My Courses</span></a></li>
                        <li><a href="app-instructor-earnings.html"><i class="fa fa-bar-chart-o"></i><span>Earnings</span></a></li>
                        <li><a href="app-instructor-statement.html"><i class="fa fa-dollar"></i><span>Statement</span></a></li>*@
                </ul>


            </div>
        </div>









    }
    else if (Request.IsAuthenticated && User.IsInRole("UnderGraduate"))
    {
        <div class="sidebar left sidebar-size-1 sidebar-mini-reveal sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
            <div data-scrollable>
                <ul class="sidebar-menu">
                    <li class="active"><a href="@Url.Action("Dashboard", "Students")"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                    <li class="active"><a href="@Url.Action("Edit", "Students")"><i class="fa fa-home"></i><span>Edit Profile</span></a></li>
                    <li><a href="@Url.Action("ListCourses","Courses")">Courses List</a></li>


                    <li class="active"><a href="@Url.Action("Create", "ForumQuestions")"><i class="fa fa-home"></i><span>Ask Question</span></a></li>
                    @*<li><a href="app-instructor-messages.html"><i class="fa fa-paper-plane"></i><span>Messages</span></a></li>
                        <li><a href="app-instructor-courses.html"><i class="fa fa-mortar-board"></i><span>My Courses</span></a></li>
                        <li><a href="app-instructor-earnings.html"><i class="fa fa-bar-chart-o"></i><span>Earnings</span></a></li>
                        <li><a href="app-instructor-statement.html"><i class="fa fa-dollar"></i><span>Statement</span></a></li>*@
                </ul>


            </div>
        </div>






    }

    <div style="padding-left: 15%;" class="col-md-12">







        @RenderBody()
    </div>
    <!-- /st-pusher -->
    <!-- Footer -->
    @*<footer class="footer">
            <strong>Learning</strong> v1.0.0 &copy; Copyright 2015
        </footer>*@

    <!-- // Footer -



    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
    var colors = {
        "danger-color": "#e74c3c",
        "success-color": "#81b53e",
        "warning-color": "#f0ad4e",
        "inverse-color": "#2c3e50",
        "info-color": "#2d7cb5",
        "default-color": "#6e7882",
        "default-light-color": "#cfd9db",
        "purple-color": "#9D8AC7",
        "mustard-color": "#d4d171",
        "lightred-color": "#e15258",
        "body-bg": "#f6f6f6"
    };
    var config = {
        theme: "html",
        skins: {
            "default": {
                "primary-color": "#42a5f5"
            }
        }
    };
    </script>
    <script src="~/Content/LMS/js/vendor-core.min.js"></script>
    <script src="~/Content/LMS/js/vendor-countdown.min.js"></script>
    <script src="~/Content/LMS/js/vendor-tables.min.js"></script>
    <script src="~/Content/LMS/js/vendor-forms.min.js"></script>
    <script src="~/Content/LMS/js/vendor-carousel-slick.min.js"></script>
    <script src="~/Content/LMS/js/vendor-player.min.js"></script>
    <script src="~/Content/LMS/js/vendor-charts-flot.min.js"></script>
    <script src="~/Content/LMS/js/vendor-nestable.min.js"></script>
    <!-- <script src="LMS/js/vendor-angular.min.js"></script> -->
    <!-- Compressed Vendor Scripts Bundle
    Includes all of the 3rd party JavaScript libraries above.
    The bundle was generated using modern frontend development tools that are provided with the package
    To learn more about the development process, please refer to the documentation.
    Do not use it simultaneously with the separate bundles above. -->
    <!-- <script src="LMS/js/vendor-bundle-all.min.js"></script> -->
    <!-- Compressed App Scripts Bundle
    Includes Custom Application JavaScript used for the current theme/module;
    Do not use it simultaneously with the standalone modules below. -->
    <!-- <script src="LMS/js/module-bundle-main.min.js"></script> -->
    <!-- Standalone Modules
    As a convenience, we provide the entire UI framework broke down in separate modules
    Some of the standalone modules may have not been used with the current theme/module
    but ALL the modules are 100% compatible -->
    <script src="~/Content/LMS/js/module-essentials.min.js"></script>
    <script src="~/Content/LMS/js/module-material.min.js"></script>
    <script src="~/Content/LMS/js/module-layout.min.js"></script>
    <script src="~/Content/LMS/js/module-sidebar.min.js"></script>
    <script src="~/Content/LMS/js/module-carousel-slick.min.js"></script>
    <script src="~/Content/LMS/js/module-player.min.js"></script>
    <script src="~/Content/LMS/js/module-messages.min.js"></script>
    <script src="~/Content/LMS/js/module-maps-google.min.js"></script>
    <script src="~/Content/LMS/js/module-charts-flot.min.js"></script>
    <!-- [html] Core Theme Script:
    Includes the custom JavaScript for this theme/module;
    The file has to be loaded in addition to the UI modules above;
    module-bundle-main.js already includes theme-core.js so this should be loaded
    ONLY when using the standalone modules; -->
    <script src="~/Content/LMS/js/theme-core.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>