@model CodedenimWebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<body>
<div class="row">
<div class="col-md-6 col-lg-5 login-form mx-auto float-none">
    <div class="card">
        <div class="card-block">*@
         
            <!--Header-->
@*<div class="form-header" style="height: 120px !important; padding:5px;">
                <h3>
                    <a href="@Url.Action("Index","Home")"><img src="~/Content/img/CodeDemin.png" width="60" height="50" style="margin-left:45%"/>Code-Denim</a></h3>
            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <h4 style="text-align: center; color:#093">Enter Your Email.</h4>
                <hr/>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Email Link"/>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
    </div>
</body>*@


<div  class="login">
    <div id="content">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()

            <div class="container-fluid">
                <div class="lock-container">
                    <div class="panel panel-default text-center paper-shadow" data-z="0.5">
                        <img src="~/Content/img/CodeDemin.png" class="rounded smr-size-3 d-block" style="height: 100px" />
                        @*<img src="images/people/110/guy-5.jpg" class="img-circle width-80">*@
                        <h1 class="text-display-1 text-center margin-bottom-none">Enter Email </h1>
                        <div class="panel-body">
                            @*<div class="form-group">
                                <label for="Email">Username</label>

                                <div class="form-control-material">
                                    <input class="form-control" id="Email" name="Email" type="text" placeholder="Username">

                                </div>
                            </div>*@
                            @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @id = "Email" ,@name = "Email", @type = "text", @placeholder = "Username" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                            <br/>
                           

                            @*<a href="website-student-dashboard.html" class="btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt"></i></a>*@
                        
                        </div>
                        <input type="submit" class="btn btn-default" value="Email Link"/>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-unlock-alt"></i>Send Email</button>
                    </div>                                                                                                                                              
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
