@using CodedenimWebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayoutNew.cshtml";
}




<!-- Start main-content -->
<div class="main-content">
    <!-- Section: home -->
    <section id="home">
        <div class="container-fluid p-0">

           
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4  smart-form">
                        <h3 class="font-weight-500 font-30 font- mt-10"></h3>
                        <div class=""></div>
                        @*<span class="text-theme-colored">*@
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal  client-form", role = "form", @id = "login-form" }))
    {
                    @Html.AntiForgeryToken()
                    <header>
                        Sign In
                    </header>

                    <fieldset>


                        <section>
                            <label class="label">E-mail</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="email" name="Email">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Password</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" asp-for="Password" name="Password">
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("ForgotPassword","Account")">Forgot password?</a>
                            </div>
                        </section>


                        <section>
                            <label class="checkbox">
                                <input type="checkbox" name="remember" checked="">
                                <i></i>Stay signed in
                            </label>
                        </section>
                    </fieldset>

                    <footer>

                        <input type="submit" value=" Sign in" class="btn btn-primary" style="background-color:forestgreen" />

                    </footer>
}
                        <br />
                        <br />
                        <br />
                       


                        @*</span>*@


                    </div>
                    <div class="col-md-4"></div>
                        @*<div class="col-md-7">
                <div class="owl-carousel-1col" data-nav="true">
                    <div class="item">
                        <div class="box-hover-effect about-video">
                            <div class="effect-wrapper">
                                <div class="thumb">
                                    <video controls="controls" class="img-fullwidth" style="width:100%; height:100%">
                                        <source src="~/Content/Assets1/video/CodeDenim1.mp4" type="video/mp4">
                                    </video>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>*@
                    </div>
                </div>
        </div>
    </section>






    
</div>





@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


