@model CodedenimWebApp.ViewModels.CategoryVm
    @using System.Linq;
@{
    ViewBag.Title = "CategoryContent";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Course Content</h2>

<h5 class="text-subhead-2 text-light">Courses to Complete in @Model.CourseCategory category</h5>




@foreach (var item in Model.Courses)
{

    <div class="panel panel-default curriculum open paper-shadow" data-z="0.5">
        <div class="panel-heading panel-heading-gray" data-toggle="collapse" data-target="#curriculum-@item.CourseId">
            <div class="media">
                <div class="media-left">
                    <span class="icon-block img-circle bg-indigo-300 half text-white"><i class="fa fa-graduation-cap"></i></span>
                </div>
                <div class="media-body">
                    <h4 class="text-headline">@item.Courses.CourseName</h4>
                    <p>@item.Courses.CourseDescription</p>
                </div>
            </div>
            <span class="collapse-status collapse-open">Open</span>
            <span class="collapse-status collapse-close">Close</span>
        </div>
        <div class="list-group collapse in" id="curriculum-@item.CourseId">

            @foreach (var module in item.Courses.Modules.Where(x => x.CourseId.Equals(item.CourseId)))
            {
                foreach (var topic in module.Topics)
                {
                    <div class="list-group-item media active" data-target="#">
                        <div class="media-left">
                            <div class="text-crt"></div>
                        </div>

                        <div class="media-body">
                            <i class="fa fa-fw fa-circle text-blue-300 js-toggle-course"></i> <a href="@Url.Action("Details", "TopicMaterialUploads", new { id = topic.TopicId, courseId = item.CourseId })"> @module.ModuleName</a>
                        </div>

                        <div class="media-right">
                            <div class="width-100 text-right text-caption"></div>
                        </div>
                    </div>
                }

            }
          
                <div class="media-body">
                    <i class="fa fa-fw fa-circle text-blue-300 js-toggle-course"></i> <a href="@Url.Action("Create", "TestAnswers", new {courseId = item.CourseId })">Quiz</a>
                </div>
            

        </div>
    </div>


}




@section scripts{
    <script>

        //$(document).ready(function() {
        $(".js-toggle-course").click(function (e) {
            alert("Something Failed");
            var button = $(e.target)

                .done(function () {
                    button
                        .removeClass("fa-circle")
                        .addClass("fa-check")

                })
                .fail(function () {
                    alert("Something Failed");


                });
                //});

    </script>
}