@model IEnumerable<CodeninModel.CorperEnrolledCourses>

@{
    ViewBag.Title = "MyCourses";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>MyCourses</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.MatricNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorperCallUpNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.MatricNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorperCallUpNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CorperEnrolledCoursesId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CorperEnrolledCoursesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CorperEnrolledCoursesId })
        </td>
    </tr>
}

</table>*@

@foreach (var item in Model)
{
<div class="item col-xs-12 col-sm-6 col-lg-4">
    <div class="panel panel-default paper-shadow" data-z="0.5">
        <div class="panel-heading">
            <div class="media media-clearfix-xs-min v-middle">
                <div class="media-body text-caption text-light">
                    Lessons 1 of 6
                </div>
                <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                        <div class="progress-bar progress-bar-blue-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover overlay cover-image-full hover">
            <span class="img icon-block height-100 bg-primary"></span>
            <a href="@Url.Action("CategoryContent","Courses", new {id = item.CourseCategoryId})" class="padding-none overlay overlay-full icon-block bg-primary">
                <span class="v-center">
                    <i class="fa fa-css3"></i>
                </span>
            </a>
            <a href="@Url.Action("CategoryContent","Courses", new {id = item.CourseCategoryId})" class="overlay overlay-full overlay-hover overlay-bg-white">
                <span class="v-center">
                    <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                </span>
            </a>
        </div>
        <div class="panel-body">
            <h4 class="text-headline margin-v-0-10"><a href="@Url.Action("CategoryContent","Courses", new {id = item.CourseCategoryId})">@item.Category.CategoryName</a></h4>
        </div>
        <hr class="margin-none"/>
        <div class="panel-body">
            <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated href="@Url.Action("CategoryContent","Courses", new {id = item.CourseCategoryId})">Continue with courses</a>
        </div>
    </div>
</div>

}