@using CodeninModel.BlogPost
@model CodedenimWebApp.Models.RegisterUnderGrad


@{
    ViewBag.Title = "UnderGraduate Registration";
    Layout = "~/Views/Shared/_LayoutBoard.cshtml";
}

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-8 login-form mx-auto float-none">

            <!--Form with header-->
            <div class="card" style="width:90%; margin-left:5%">
                <div class="card-block">
                    <div class="form-header" style="height: 200px !important; padding: 5px;">
                        <h3>
                            <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/CodeDemin.png" width="60" height="50" style="margin-left: 45%" />Code-Denim</a>
                        </h3>
                        <h4>Undergraduate Registration</h4>
                    </div>

                    @using (Ajax.BeginForm("RegisterUnderGraduate", "Account",
            new AjaxOptions
            {
                HttpMethod = "Post",
                OnSuccess = "OnSuccess",
                OnFailure = "OnFailure",
                LoadingElementId = "progress"
            }))
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.MatNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.MatNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MatNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.Label("Photo", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    <input type="file" id="File" name="File" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-6">
                                    <button class="btn btn-default js-submit" data-url="@Url.Action("_RegisterUnderGraduate", "Account")">Create</button>
                                </div>
                            </div>

                        </div>

                    }


                    <div id="progress" class="modal">
                        <div class="center">
                            <img src="~/Content/img/loading (1).gif" />
                        </div>
                    </div>
                    <link href="~/Content/my.css" rel="stylesheet" />
                    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
                    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $("#form .js-submit").on("click",
                                function () {
                                    var url = $(this).data("url");
                                    alert(url);
                                    $.ajax({
                                        url: url,
                                        method: "POST",
                                        success: function () {

                                            alert("registration successfull");
                                        }
                                    });
                                });

                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker(
            {
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            }
        );

    });
</script> 