@model CodeninModel.CBTE.QuizRule

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

<h2>Details</h2>

<div>
    <h4>QuizRule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScorePerQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScorePerQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximumTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuizRuleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
