@model IEnumerable<CodeninModel.CBTE.QuizRule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="container-fluid" style="margin-left: 13%">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Module.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScorePerQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Module.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScorePerQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.QuizRuleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.QuizRuleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.QuizRuleId })
            </td>
        </tr>
    }

</table>
    </div>
