@model IEnumerable<CodeninModel.TutorCourse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GeneralLayoutNewUI.cshtml";
}
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Courses.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tutor.Designation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TutorCoursesId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TutorCoursesId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TutorCoursesId })
            </td>
        </tr>
    }

</table>
