@model IEnumerable<CodeninModel.Tutor>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "Tutor";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Tutor = "class = active";
}
<div class="container-fluid" style="margin-left: 13%">
    <h2>Tutor</h2>



    <p>
        @Html.ActionLink("Create", "Create")
    </p>

    @*<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-url="@Url.Action("CreateTutorPartial","Tutors")" id="btnCreateAsset">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Create Tutor
        </button>*@

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Designation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaritalStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActiveTutor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActiveStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StaffRole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TownOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StateOfOrigin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nationality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountryOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAcctive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Passport)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaritalStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActiveTutor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActiveStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffRole)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MiddleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TownOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StateOfOrigin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nationality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAcctive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Passport)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.TutorId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.TutorId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.TutorId })
                    </td>
                </tr>






            }

        </table>*@


    <div class="table container" style="width: 90%; margin: 0 auto">
        @*<a class="popup" href="/AssignedClasses/Save/0" style="margin-bottom: 20px; margin-top: 20px">Add</a>*@

        @*<a onclick="myFunction()" class="btn btn-primary btn-lg"> <i class="fa fa-plus left"></i> Add Class</a>*@
        <table id="Jdatatable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Tutor Id</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    @*<th>Term Name</th>
                        <th>Session Name</th>*@
                    <th>Action</th>

                </tr>
            </thead>
        </table>
    </div>

    <div class="modal fade" id="createAssetModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">

        <div id="createAssetContainer">

        </div>

    </div>





    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript">
        // alert("this is me ");

        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
            "serverSide": true, // if it is true the preocess is done on server side
            "filter": true, // disables search box
            "info": true,
            "stateSave": true,
            "orderMulti": false, // disable multiple column loading at once
            "ajax": {
                "url": "/Tutors/GetIndex",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "TutorId", "autoWidth": true },
                { "data": "FirstName", "autoWidth": true },
                { "data": "MiddleName", "autoWidth": true },
                { "data": "LastName", "autoWidth": true },
                { "data": "Email", "autoWidth": true },

                {
                    "data": "TutorId",
                    "autoWidth": true,
                    "render": function (data) {
                        return '<a href="#" onclick="Edit(' + data + ')" ><i class="fa fa-pencil" aria-hidden="true" ><i/></a>' +
                            '<a class="text-danger" href="#" onclick="Delete(' + data + ')" ><i class="fa fa-remove" aria-hidden="true" ><i/></a>';
                    }
                }
                //{
                //    "data": "AssignedClassId",
                //    "autoWidth": true,
                //    "render": function(data) {
                //        return '<a class="popup" href="/AssignedClasses/delete/' + data + '"><span class="md-delete"></span> Delete</a>';
                //    }
                //}
                //{ "data": "EmailID", "autoWidth": true },
                //{ "data": "Phone", "autoWidth": true },
            ]
        });

        // });


        $("#btnCreateAsset").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createAssetContainer').html(data);

                $('#createAssetModal').modal('show');
            });

        });
    //$('#btnCreateAsset').on('click', function () {
    //    alert("this is me ");
    //    $('#createAssetModal').modal('show');
    //    var url = $(this).data("url");

    //    $.get(url, function (data) {
    //        $('#createAssetContainer').html(data);

    //        $('#createAssetModal').modal('show');
    //    });

    //});
    //$(document).ready(function () {
    //    alert("hi this is me");
    //    $("#btnCreateAsset").on("click",
    //        function() {

    //            var url = $(this).data("url");

    //            $.get(url,
    //                function(data) {
    //                    $('#createAssetContainer').html(data);

    //                    $('#createAssetModal').modal('show');
    //                });

    //        });


    </script>
</div>