@model IEnumerable<CodeninModel.Quiz.TestQuestion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Index</h2>  

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionInstruction)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionInstruction)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TestQuestionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TestQuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TestQuestionId })
        </td>
    </tr>
}

</table>
