@model CodeninModel.StudentPaypalPayment
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<ol>
    <li>Student id: @Model.StudentId</li>
    <li>Category id: @Model.CourseCategoryId</li>
    <li>Payer Email id: @Model.PayerEmail</li>
    <li>Reciever email id: @Model.ReceiverEmail</li>
    <li>Currency id: @Model.Currency</li>
    <li>Category Name id: @Model.ItemName</li>
</ol>