@model CodedenimWebApp.ViewModels.CourseCategoryDetailVm
@using System.Configuration
@{
    var customValues = new
    {
        Model.CourseCategoryId,
        Model.StudentId
    };
}

@*<input type="hidden" name="upload" value="1" />*@

@*<input type="hidden" name="quantity" value="3" />*@
@*<INPUT TYPE="hidden" NAME="currency_code" value="EUR">*@

@*<input type="hidden" name="return" value="@ConfigurationManager.AppSettings["returnURL"]" />*@

<br />


<div class="exchangedValue"></div>

<form id="paypalForm" method="post" action="@ConfigurationManager.AppSettings["PaypalSubmitURL"]">
    @Html.AntiForgeryToken()

    <div class="list-group margin-none">
        <div class="list-group-item media v-middle">
            <div class="media-left">
                <div class="icon-block half img-circle bg-primary">
                    <i class="fa fa-credit-card"></i>
                </div>
            </div>

            <div class="media-body">

                <h4 class="text-title media-heading">
                    <input type="hidden" name="return" value="@ConfigurationManager.AppSettings["returnURL"]" />
                    <input type="hidden" name="cmd" value="_xclick" />
                    <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["PaypalAccount"]" />

                    <input type="hidden" name="item_name" value="@Model.CourseCategory.CategoryName" />
                    <input type="hidden" name="item_number" value="@Model.CourseCategory.CourseCategoryId" />
                    <input type="hidden" name="amount" value="@Model.CourseCategory.Amount" class="exchangeRateValue" readonly />
                    <input type="hidden" name="custom" value="@Model.StudentId" />

                </h4>
                <h3>Non Nigerians</h3>
                <p class="alert alert-yellow-100" style="color:black">Select a currency you would like to pay with. </p>
                <div class="form-group">
                    @Html.Label("Currency  ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.DropDownList("currency_code", (SelectList)ViewBag.Currency, "Your Currency", htmlAttributes: new { @class = "control-label col-md-2", @id = "JsChosen" })

                    </div>
                </div>
                <br/>
                <div class="media-right">
                    <input type="image" src="https://www.paypal.com/en_Us/i/btn/btn_xpressCheckout.gif" />
                </div>
            </div>
            <div class="media-left">

            </div>


        </div>

    </div>
</form>






