@model IEnumerable<CodeninModel.Forums.ForumQuestion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@*<div class="container-fluid" style="margin-left: 10%;">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Ask Question", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Forum.ForumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.Institution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Forum.ForumName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Students.Institution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionName)
                </td>
                <td>*@
                    @* write logic to show this links dependent on the logged in user *@
                    @*@Html.ActionLink("Answer Question", "Create","ForumAns", new {id = item.ForumQuestionId})*@
                    @*<a href="@Url.Action("Create","ForumAnswers", new {id = item.ForumQuestionId})">Answer Question</a>|
                    <a href="@Url.Action("Index","ForumAnswers", new {id=item.ForumQuestionId})"> View Answers</a>|
                    @Html.ActionLink("Edit", "Edit", new { id = item.ForumQuestionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ForumQuestionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ForumQuestionId })
                </td>
            </tr>

        }

    </table>*@




    @*<script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript">
    </script>
<script type="text/javascript">
    $(document).ready(function () {
        //window.alert("ready");

        $("#btnsubmit").click(function () {
            window.alert("ready");

            $("#loaderDiv").show();

            var data = $("#myform").serialize();
            debugger
            $.ajax({
                type: "POST",
                url: "/ForumAnswers/Create",
                data: data,
                success: function (response) {
                    $("#loaderDiv").hide();
                    alertify.success('Student was created Successfully');
                }
            });
        });
    })
</script>
    </div>*@


<div class="st-content-inner padding-none">
<div class="container-fluid">
<div class="page-section">
    <h1 class="text-display-1">Forum</h1>
</div>
<div class="row">
<div class="col-md-8 col-lg-9">
<div class="panel panel-default paper-shadow" data-z="0.5">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">
                    <h4 class="text-headline margin-none">General</h4>
                    <p class="text-subhead text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</p>
                </div>
                <div class="media-right">
                    <a href="#" class="btn btn-white btn-flat"><i class="fa fa-fw fa-plus"></i> New Topic</a>
                </div>
            </div>
        </li>
        <li class="list-group-item media v-middle">
            <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                    <i class="fa fa-file-text text-white"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="text-subhead margin-none">
                    <a href="app-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
                </h4>
                <div class="text-light text-caption">
                    posted by
                    <a href="#">
                        <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-20" /> Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
            </div>
            <div class="media-right">
                <a href="app-forum-thread.html" class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 16</a>
            </div>
        </li>
        <li class="list-group-item media v-middle">
            <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                    <i class="fa fa-file-text text-white"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="text-subhead margin-none">
                    <a href="app-forum-thread.html" class="link-text-color">Can someone help me? I need a design advice</a>
                </h4>
                <div class="text-light text-caption">
                    posted by
                    <a href="#">
                        <img src="images/people/110/woman-6.jpg" alt="person" class="img-circle width-20" /> Jennifer Hudson</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
            </div>
            <div class="media-right">
                <a href="app-forum-thread.html" class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 15</a>
            </div>
        </li>
        <li class="list-group-item media v-middle">
            <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                    <i class="fa fa-file-text text-white"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="text-subhead margin-none">
                    <a href="app-forum-thread.html" class="link-text-color">I think this is the right way?</a>
                </h4>
                <div class="text-light text-caption">
                    posted by
                    <a href="#">
                        <img src="images/people/110/woman-4.jpg" alt="person" class="img-circle width-20" /> Michelle Gustav</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
            </div>
            <div class="media-right">
                <a href="app-forum-thread.html" class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 11</a>
            </div>
        </li>
    </ul>
</div>
<div class="panel panel-default paper-shadow" data-z="0.5">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">
                    <h4 class="text-headline margin-none">Lessons</h4>
                    <p class="text-subhead text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</p>
                </div>
                <div class="media-right">
                    <a href="#" class="btn btn-white btn-flat"><i class="fa fa-fw fa-plus"></i> New Topic</a>
                </div>
            </div>
        </li>
        <li class="list-group-item media v-middle">
            <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                    <i class="fa fa-file-text text-white"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="text-subhead margin-none">
                    <a href="app-forum-thread.html" class="link-text-color">Getting around AngularJS</a>
                </h4>
                <div class="text-light text-caption">
                    posted by
                    <a href="#">
                        <img src="images/people/110/guy-4.jpg" alt="person" class="img-circle width-20" /> Jonny Francine</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
            </div>
            <div class="media-right">
                <a href="app-forum-thread.html" class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 13</a>
            </div>
        </li>
        <li class="list-group-item media v-middle">
            <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                    <i class="fa fa-file-text text-white"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="text-subhead margin-none">
                    <a href="app-forum-thread.html" class="link-text-color">I think this is the right way?</a>
                </h4>
                <div class="text-light text-caption">
                    posted by
                    <a href="#">
                        <img src="images/people/110/woman-4.jpg" alt="person" class="img-circle width-20" /> Michelle Gustav</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
            </div>
            <div class="media-right">
                <a href="app-forum-thread.html" class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 11</a>
            </div>
        </li>
        <li class="list-group-item media v-middle">
            <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                    <i class="fa fa-file-text text-white"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="text-subhead margin-none">
                    <a href="app-forum-thread.html" class="link-text-color">Responsive Bootstrap Question</a>
                </h4>
                <div class="text-light text-caption">
                    posted by
                    <a href="#">
                        <img src="images/people/110/woman-5.jpg" alt="person" class="img-circle width-20" /> Mary Deb</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
            </div>
            <div class="media-right">
                <a href="app-forum-thread.html" class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 11</a>
            </div>
        </li>
    </ul>
</div>
<div class="panel panel-default paper-shadow" data-z="0.5">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">
                    <h4 class="text-headline margin-none">Support</h4>
                    <p class="text-subhead text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo.</p>
                </div>
                <div class="media-right">
                    <a href="#" class="btn btn-white btn-flat"><i class="fa fa-fw fa-plus"></i> New Topic</a>
                </div>
            </div>
        </li>
        <li class="list-group-item media v-middle">
            <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                    <i class="fa fa-file-text text-white"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="text-subhead margin-none">
                    <a href="app-forum-thread.html" class="link-text-color">Am I learning the right way?</a>
                </h4>
                <div class="text-light text-caption">
                    posted by
                    <a href="#">
                        <img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-20" /> Adrian Demian</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
            </div>
            <div class="media-right">
                <a href="app-forum-thread.html" class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 6</a>
            </div>
        </li>
        <li class="list-group-item media v-middle">
            <div class="media-left">
                <div class="icon-block half img-circle bg-grey-300">
                    <i class="fa fa-file-text text-white"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="text-subhead margin-none">
                    <a href="app-forum-thread.html" class="link-text-color">Responsive Bootstrap Question</a>
                </h4>
                <div class="text-light text-caption">
                    posted by
                    <a href="#">
                        <img src="images/people/110/woman-5.jpg" alt="person" class="img-circle width-20" /> Mary Deb</a> &nbsp; | <i class="fa fa-clock-o fa-fw"></i> 5 mins
                </div>
            </div>
            <div class="media-right">
                <a href="app-forum-thread.html" class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i> 16</a>
            </div>
        </li>
    </ul>
</div>
<br/>
</div>
<div class="col-md-4 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group form-control-material">
                <input id="forumSearch" type="text" class="form-control" placeholder="Type to search" />
                <label for="forumSearch">Search ...</label>
            </div>
            <a href="#" class="btn btn-inverse paper-shadow relative" data-z="0.5" data-hover-z="1">Search</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Categories</h4>
        </div>
        <ul class="list-group list-group-menu">
            <li class="list-group-item active">
                <a href="website-forum.html"><i class="fa fa-chevron-right fa-fw"></i> All</a>
            </li>
            <li class="list-group-item">
                <a href="website-forum-category.html"><i class="fa fa-chevron-right fa-fw"></i> General</a>
            </li>
            <li class="list-group-item">
                <a href="website-forum-category.html"><i class="fa fa-chevron-right fa-fw"></i> Lessons</a>
            </li>
            <li class="list-group-item">
                <a href="website-forum-category.html"><i class="fa fa-chevron-right fa-fw"></i> Support</a>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
</div>