

@using CodedenimWebApp.Service
@using CodeninModel
@*@model CodeninModel.TopicMaterialUpload*@
@model CodedenimWebApp.ViewModels.CourseContentVm
@{


}



<div class="row panel panel-default">
    <div class="col-md-12">
        <div class="page-section">
            <div class="media">
                
                <div class="media-body" style="padding-left:10%;">
                
                    <h1 class="text-display-1"><i class="fa fa-book"></i> @Html.DisplayFor(model => Model.Material.Name)</h1>
                    <br>
                </div>
            </div>
        </div>
        </div>

        <div class="col-md-12">
            @if (@Model.Material != null)
            {
                if (@Model.Material.FileType == FileType.MP4 || Model.Material.FileType == FileType.Video)
                {
                    <div style="text-align: center">
                        <button onclick="playPause()" class="btn btn-primary">Play/Pause</button>
                        <button onclick="makeBig()" class="btn btn-primary">Big</button>
                        <button onclick="makeSmall()" class="btn btn-primary">Small</button>
                        <button onclick="makeNormal()" class="btn btn-primary">Normal</button>
                        <br><br>

                        <video controls="controls" id="video1" width="600">
                            @*<source src="~/MaterialUpload/@Model.Material.FileLocation" type="video/mp4">*@
                            <source src="~/MaterialUpload/me.mp4" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                }
                else if (Model.Material.FileType == FileType.PDF || Model.Material.FileType == FileType.DOC)
                {

                    @Html.Raw(Model.Material.TextContent)
                    @*<iframe src="~/MaterialUpload/@Model.Material.FileLocation" style="width: 100%; height:900px; border: none;" type="application/pdf"> </iframe>*@





                }
                else if (@Model.Material.FileType == FileType.Audio)
                {

                    <audio controls="controls" id="video1"style="width:100%;">
                        <source src="~/MaterialUpload/@Model.Material.FileLocation" type="audio/mpeg">

                    </audio>

                }
            }
        </div>



    </div>

    <script>

        var myVideo = document.getElementById("video1");

        function playPause() {
            if (myVideo.paused)
                myVideo.play();
            else
                myVideo.pause();
        }

        function makeBig() {
            myVideo.width = 780;
        }

        function makeSmall() {
            myVideo.width = 420;
        }

        function makeNormal() {
            myVideo.width = 560;
        }
    </script>
