

@using CodeninModel

@model CodedenimWebApp.ViewModels.CourseContentVm

@*@foreach (var material in Model.Materials)
    {
        <div id="topicContents">

            <dt class="btn label label-default" onclick="loadContent(@material.TopicMaterialUploadId)">
                @Html.DisplayNameFor(model => material.Name)
            </dt>
            <dd class="btn btn-success" onclick="loadContent(@material.TopicMaterialUploadId)">
                <b> @Html.DisplayFor(model => material.Name) </b>
            </dd>
            <hr/>
        </div>

    }*@

<div class="row">
@foreach (var material in Model.Materials)
{
    <div class="panel-footer  col-md-3" id="topicContents">
        <div class="text-left">

            <div id="topicContents">
                <div onclick="loadContent(@material.TopicMaterialUploadId)">
                    <button class="btn btn-success btn-lg paper-shadow relative" data-z="1" data-hover-z="2" data-animated>@Html.DisplayFor(model => material.FileType)</button>
                </div>

            </div>
        </div>
    </div>
}
</div>