@model CodeninModel.Quiz.Topic
<style>
    body {
        background: white !important;
    }
</style>
@{
    ViewBag.Title = "Create Topics";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-fluid" style="margin-left: 13%">
    @using (Html.BeginForm("Create", "Topics", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend><h3><b>Create Topics</b></h3></legend>
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ModuleId, "Module Id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.DropDownList("ModuleId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ModuleId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TopicName, "Topic Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TopicName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TopicName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExpectedTime, "Expected Time", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ExpectedTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExpectedTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success"><span>Create</span> <i class="fa fa-check-square-o"></i></button>
                        <button class="btn-inverse btn" type="reset"><span>Reset</span> <i class="fa fa-undo"></i></button>
                    </div>
                </div>
            </div>
        </fieldset>

            @Scripts.Render("~/bundles/jqueryval")

            @*<script src="~/Scripts/jquery-3.1.1.js"></script>
                <script>
                    $(document).ready(function () {
                        //window.alert("ready");

                        $("#btnsubmit").click(function() {
                            // window.alert("ready");

                            $("#loaderDiv").show();

                            var data = $("#myform").serialize();
                            debugger;
                            $.ajax({
                                type: "POST",
                                url: "/Topics/Create",
                                data: data,
                                success: function(response) {
                                    $("#loaderDiv").hide();
                                    alertify.success('session Created Successfully');
                                }
                            });
                        });
                    })
                </script>*@
    }
</div>